.DS_Store
example/.DS_Store
example/src/.DS_Store
src/.DS_Store
example/multiTouch.xcodeproj/Patricio.mode1v3
example/multiTouch.xcodeproj/Patricio.pbxuser
example/multiTouch.xcodeproj/project.pbxproj
example/multiTouch.xcodeproj/project.xcworkspace/contents.xcworkspacedata
example/multiTouch.xcodeproj/project.xcworkspace/xcuserdata/Patricio.xcuserdatad/UserInterfaceState.xcuserstate
example/multiTouch.xcodeproj/theo.mode1v3
example/multiTouch.xcodeproj/theo.pbxuser
example/multiTouch.xcodeproj/xcuserdata/Patricio.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
example/multiTouch.xcodeproj/xcuserdata/Patricio.xcuserdatad/xcschemes/multiTouch.xcscheme
example/multiTouch.xcodeproj/xcuserdata/Patricio.xcuserdatad/xcschemes/xcschememanagement.plist
example/openFrameworks-Info.plist
example/Project.xcconfig
example/bin/exampleDebug.app/Contents/Info.plist
example/bin/exampleDebug.app/Contents/PkgInfo
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/GLUT
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Headers
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Resources
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/GLUT
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/copy.h
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/extrude.h
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glsmap.h
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glsmapint.h
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glut.h
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glutbitmap.h
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glutf90.h
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/glutstroke.h
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/gutil.h
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/intersect.h
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/port.h
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/rot.h
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/segment.h
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/tube.h
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/tube_gc.h
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Headers/vvector.h
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/blankCursor.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/bottomCursor.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/bottomleftCursor.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/bottomrightCursor.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/Caution.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/crossCursor.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/cycleCursor.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/destroyCursor.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUT.nib/classes.nib
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUT.nib/info.nib
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUT.nib/objects.nib
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTClipboard.nib/classes.nib
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTClipboard.nib/info.nib
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTClipboard.nib/objects.nib
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTPreferences.nib/classes.nib
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTPreferences.nib/info.nib
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTPreferences.nib/objects.nib
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/GLUTUI.strings
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/English.lproj/InfoPlist.strings
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/fingerCursor.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/helpCursor.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/Info.plist
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/leftCursor.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/leftRightCursor.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/rightArrowCursor.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/rightCursor.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/sprayCursor.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/topCursor.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/topleftCursor.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/toprightCursor.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/upDownCursor.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/A/Resources/waitCursor.tiff
example/bin/multiTouchDebug.app/Contents/Frameworks/GLUT.framework/Versions/Current
example/bin/multiTouchDebug.app/Contents/Info.plist
example/bin/multiTouchDebug.app/Contents/MacOS/libfmodex.dylib
example/bin/multiTouchDebug.app/Contents/MacOS/multiTouchDebug
example/bin/multiTouchDebug.app/Contents/PkgInfo